package ${package}.service;

import org.springframework.stereotype.Service;

import ${package}.entity.${className};
import ${package}.mapper.${className}Mapper;
import com.newrun.xiruo.xframework.service.BaseTkService;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}Service extends BaseTkService<${className}Mapper, ${className}> {
}